<form class = "search-form" action = "/recommendation/" method = "get">
  <!--<h4>select situation</h4>
  {% for key, situation in situations.items %}
    <label><input type = "radio" name = "situation" value = {{key}}>{{ situation }}</label>
    {% endfor %}-->
  <h4>select genre related with now situation</h4>
  <label><input type = "radio" name = "emotion" value = 1>pop</label>
  <label><input type = "radio" name = "emotion" value = 2>ballad</label>
  <label><input type = "radio" name = "emotion" value = 3>rock</label>
  <br/>
  <input class = "search-submit" type = "submit" value = "search">
</form>

