{% extends 'bases/base.html' %}
{% block title %}楽曲一覧{% endblock title %}

{% block main %}
<div class = "main">
  <h2>{{ artist_name }}</h2>
  <div class = "clearfix">
    {% for song in results %}
      <div class = "content">
        {% include "parts/song_iframe.html" %}
        <iframe width = "420" height = "315" src = "https://www.youtube.com/embed/{{ song.url }}" frameborder="0" allowfullscreen></iframe>
        <p class = "song-info">{{ song.artist.name }} / {{ song.name }}</p>
        <form class = "like-form" name = "like" method = "POST" action = "/recommendation/artist/{{ song.artist.id }}">
          {% csrf_token %}
          {% include "parts/like_button.html" %}
        </form>
      </div>
    {% endfor %}
  </div>
  {% include "parts/paginator.html" %}
</div>
{% endblock main %}
