{% extends 'bases/base.html' %}
{% block title %}楽曲一覧{% endblock title %}

{% block main %}
<div class = "main">
  <h2>{{ artist_name }}</h2>
  <div class = "clearfix">
    {% for song in results %}
      <div class = "content">
        {% include "parts/_song_iframe.html" %}
        <form class = "like-form" name = "like" method = "POST" action = "/recommendation/artist/{{ song.artist.id }}">
          {% csrf_token %}
          {% include "parts/_like_button.html" %}
        </form>
      </div>
    {% endfor %}
  </div>
  {% include "parts/_paginator.html" %}
</div>
{% endblock main %}
