{% extends 'bases/base.html' %}

{% block title %}楽曲一覧{% endblock title %}

{% block main %}
<h2>印象語による楽曲検索</h2>
<form class = "search-form" action = "{% url 'recommendation:emotion_search' %}" method = "get">
  <select name="emotion-search">
    <option value = "0">印象後を選ぶ</option>
    <option value = "1">calm</option>
    <option value = "2">tense</option>
    <option value = "3">aggressive</option>
    <option value = "4">lively</option>
    <option value = "5">peaceful</option>
  </select>
  <input class = "search-submit" type = "submit" value = "検索">
</form>
<div class = "main">
  <div class = "clearfix">
    {% for song in songs %}
      <div class = "content">
       {% include "parts/song_iframe_ref.html" %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock main %}
