{% extends 'bases/base.html' %}

{% block title %}{{ user.username }}{% endblock title %}

{% block main %}
<h2>好みの楽曲</h2>
<div class = "main">
  <div class = "clearfix">
  {% for song in results %}
    <div class = "content">
      {% include "parts/_song_iframe_ref.html" %}
      <form class = "like-form" name = "like" method = "POST" action = "/recommendation/">
        {% csrf_token %}
        <button class = "preference-button erase-button" type = "submit" name = "song_id" value = {{song.song_id}}>
          取り消す
        </button>
      </form>
      </div>
  {% endfor %}
  </div>
  {% include "parts/_paginator.html" %}
</div>
{% endblock main %}

