{% extends 'bases/base.html' %}

{% block title %}音楽探索システム{% endblock title %}

{% block main %}
<div id = "main">
{% for song in songs %}
  <div class = "content">
    <iframe width = "420" height = "315" src = "https://www.youtube.com/embed/{{ song.url }}" frameborder="0" allowfullscreen></iframe>
    <p class = "song-info">{{ song.artist.name }} / {{ song.name }}</p>
    <form action=" url 'recommendation:feedback' %}" method="post">
    {% csrf_token %}
    <select name="example" size="1">
      <option value="default">フィードバック</option>
      {% for i in feedback_loop %}
        {% for feedback in feedbacks %}
        <option value="{{ i }}{{ feedback }}">{% if i == 0 %}&uarr; {% else %}&darr; {% endif %} {{ feedback }}</option>
        {% endfor %}
      {% endfor %}
    </select>
    <input type="submit" value="送信">
    </form>
    <a>アーティスト一覧へ</a>
  </div>
{% endfor %}
</div>
{% endblock main %}
