{% extends 'bases/base.html' %}
{% block title %}推薦楽曲一覧{% endblock title %}

{% block main %}
<div class = "main">
  <h2>推薦された楽曲</h2>
  <div class = "clearfix">
    {% for song in results %}
      <div class = "content">
        {% include "parts/song_iframe_ref.html" %}
      </div>
    {% endfor %}
  </div>
  <form class = "refresh-form" name = "refresh" method = "POST" action = "/recommendation/interaction_songs/">
    {% csrf_token %}
    <button class = "refresh-button" type = "submit" name = "user_id" value = {{user.id}}>
      もう一度推薦を始める
    </button>
  </form>
</div>
{% endblock main %}

