{% extends 'bases/login_base.html' %}
{% block title %}ログイン画面{% endblock title %}

{% block main %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class = "login-content">
  <div class = "login-form">
    <h1>音楽推薦サービスへようこそ</h1>
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input class = "login-submit" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>
{% endblock main %}
