{% extends 'bases/base.html' %}
{% block title %}アンケート{% endblock title %}

{% block main %}

<div class = "main">
  {% ifnotequal error_messages "" %}
    <h2 class = "error-msg">{{ error_msg }}</h2>
  {% endifnotequal %}
  {% if is_answer %}
  <h2>アンケートの回答は完了しています。</h2>
  {% else %}
  <h2>アンケートにお答えください</h2>
  <div class = "clearfix">
  {% for song in results %}
    <div class = "content">
      {% if song.recommend_type %}
        <h3>B</h3>
      {% else %}
        <h3>A</h3>
      {% endif %}
      {% include "parts/song_iframe_ref.html" %}
    </div>
  {% endfor %}
  </div>
  <div class = "questionnaire">
    <h2>アンケート</h2>
    <form class = "questionnaire-form" name = "questionnare" method = "POST" action = "/recommendation/questionnaire/">
    {% csrf_token %}
      <h4>1.どちらの楽曲がより好きですか</h4>
      <label><input type = "radio" name = "q1" value = 0>A</label>
      <label><input type = "radio" name = "q1" value = 1>B</label>
      <h4>2.１０曲推薦のシステムの中で一番良かった楽曲はどの程度好みに合っていましたか</h4>
      <label><input type = "radio" name = "q2" value = 1>合っていなかった</label>
      <label><input type = "radio" name = "q2" value = 2>どちらかといえば合っていなかった</label>
      <label><input type = "radio" name = "q2" value = 3>どちらともいえない</label>
      <label><input type = "radio" name = "q2" value = 4>どちらかといえば合っていた</label>
      <label><input type = "radio" name = "q2" value = 5>合っていた</label>
      <h4>3.インタラクションを用いた推薦システムの中で一番良かった楽曲はどの程度好みに合っていましたか</h4>
      <label><input type = "radio" name = "q3" value = 1>合っていなかった</label>
      <label><input type = "radio" name = "q3" value = 2>どちらかといえば合っていなかった</label>
      <label><input type = "radio" name = "q3" value = 3>どちらともいえない</label>
      <label><input type = "radio" name = "q3" value = 4>どちらかといえば合っていた</label>
      <label><input type = "radio" name = "q3" value = 5>合っていた</label>
      <h4>4.二つの推薦システムはどちらが使いやすかったですか？</h4>
      <label><input type = "radio" name = "q4" value = 0>10曲推薦システム</label>
      <label><input type = "radio" name = "q4" value = 1>インタラクションを用いた推薦システム</label>
      <h4>5.推薦される前から知っていた曲を全てチェックしてください</h4>
      <div class = "clearfix">
        {% for index, song in recommend_all_song_map.items %}
          <div class = "min-content">
            {% include "parts/min_song_iframe.html" %}
          </div>
        {% endfor %}
      </div>
      <h4>6.ご自由にお書きください</h4>
      <textarea name = "free_content" cols = 120 rows = 5>
      </textarea>
      <input type = "submit" value = "アンケートを送信する">
    </form>
  </div>
  {% endif %}
</div>

{% endblock main %}
