{% extends 'bases/base.html' %}
{% block title %}楽曲の推薦{% endblock title %}

{% block main %}

<div class = "main clearfix">
  <h2>オススメの楽曲（インタラクションバージョン）</h2>
  {% if error_msg %}
    <h3 class = "error-msg">{{ error_msg }}</h3>
  {% endif %}
  <div class = "recommend-song">
    {% for song in songs %}
    {% include "parts/song_iframe.html" %}
      {% if not finish_flag %}
        <form class = "feedback-form" name = "feedback" method = "POST" action = "/recommendation/feedback/">
          {% csrf_token %}
          <select name="select-feedback">
            <option value=-1>フィードバックを選択してください</option>
            {% for index, value in feedback_dict.items %}
            <option value={{ index }}>{% if index < 5 %}&uarr;{% else %}&darr;{% endif %}{{ value }}</option>
            {% endfor %}
            <option value=11>再推薦する</option>
          </select>
          <input type = "hidden" name = "song" value = {{ song.id }}>
          <input type = "submit" id = "indicator" value = "フィードバックをする">
        </form>
      {% else %}
        <h3>合計１０曲推薦されました! </br>
          以下のリンクを押してください</h3>
        <a class = "recommend-song-list" href = "/recommendation/interaction_songs/">推薦された楽曲一覧へ</a>
      {% endif %}
    {% endfor %}
  </div>
  <div class = "feedback-explanation">
    <ul>
      <li>calm: 静かな</li>
      <li>tense: 緊張した</li>
      <li>aggressive: 激しい</li>
      <li>lively: 活発な</li>
      <li>peaceful: 平和な</li>
    </ul>
  </div>
</div>
{% endblock main %}
