{% extends 'bases/base.html' %}
{% block title %}楽曲の推薦{% endblock title %}

{% block main %}

<div class = "main clearfix">
  <h2>オススメの楽曲（インタラクションバージョン）</h2>
  {% if error_msg %}
    <h3 class = "error-msg">{{ error_msg }}</h3>
  {% endif %}
  <div class = "recommend-song">
    {% for song in songs %}
    {% include "parts/_song_iframe.html" %}
      {% if not finish_flag %}
        {% include "parts/_emotion_feedback.html" %}
      {% else %}
        <h3>合計１０曲推薦されました! </br>
          以下のリンクを押してください</h3>
        <a class = "recommend-song-list" href = "/recommendation/interaction_songs/">推薦された楽曲一覧へ</a>
      {% endif %}
    {% endfor %}
  </div>
  {% include "parts/_feedback_explanation.html" %}
</div>
{% endblock main %}
