{% extends 'bases/base.html' %}

{% block title %}楽曲検索{% endblock title %}

{% block main %}

<div>
<h2>楽曲検索フォーム</h2>
<form class = "search-form" action = "{% url 'recommendation:search' %}" method = "get">
  <table>
    {{ form.as_table }}
  </table>
  <input class = "search-submit" type = "submit" value = "検索">
</form>
</div>
{% ifequal is_result 1 %}
  <p>見つかりませんでした</p>
{% endifequal %}
{% ifequal is_result 2 %}
<div class = "main">
  <p class = "search-result">検索結果</p>
  <div class = "clearfix">
  {% for song in results %}
    <div class = "content">
      {% include "parts/_song_iframe.html" %}
      <form class = "like-form" name = "like" method = "POST" action = "{% url 'recommendation:search' %}">
        {% csrf_token %}
        {% include "parts/_like_button.html" %}
      </form>
    </div>
  {% endfor %}
  </div>
  {% include "parts/_paginator.html" %}
</div>
{% endifequal %}
{% endblock main %}
