{% extends 'bases/base.html' %}

{% block title %}楽曲検索{% endblock title %}

{% block main %}

<div>
<h2>楽曲検索フォーム</h2>
<form class = "search-form" action = "{% url 'recommendation:search' %}" method = "get">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type = "submit" value = "検索">
</form>
</div>
{% if is_result %}
  <p>見つかりませんでした</p>
{% else %}
<div class = "main">
  <div class = "clearfix">
  {% for song in results %}
    <div class = "content">
      <iframe width = "420" height = "315" src = "https://www.youtube.com/embed/{{ song.url }}" frameborder="0" allowfullscreen></iframe>
      <p class = "song-info">{{ song.artist.name }} / {{ song.name }}</p>
      <form class = "like-form" name = "like" method = "POST" action = "{% url 'recommendation:search' %}">
        {% csrf_token %}
        {% if song.id not in songs %}
        <input type = "hidden" name = "like_type" value = 1>
        <button class = "preference-button like-button" type = "submit" name = "song_id" value = {{song.id}}>
          like <i class="fa fa-thumbs-o-up" hidden="true"></i>
        </button>
        {% else %}
        <input type = "hidden" name = "like_type" value = 0>
        <button class = "preference-button erase-button" type = "submit" name = "song_id" value = {{song.id}}>
          取り消す
        </button>
        {% endif %}
      </form>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}
{% endblock main %}
