{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel = "stylesheet" type = "text/css" href = "{% static 'bootstrap/bootstrap-theme.min.css' %}"/>
  <link rel = "stylesheet" type = "text/css" href = "{% static 'bootstrap/bootstrap.min.css' %}" />
  <link rel = "stylesheet" type = "text/css" href = "{% static 'recommendation/style.css' %}" />
  <link rel = "stylesheet" type = "text/css" href = "{% static 'css/font-awesome.min.css' %}" />
</head>
<body>
  <header>
    <a href = "/recommendation"><h1>音楽探索システム</h1></a>
    <a class = "search" href = "/recommendation/search">楽曲検索へ</a>
    <a class = "artist-list" href = "/recommendation/artists">アーティスト一覧へ</a>
    <a class = "artist-list" href = "/recommendation/recommend_song/">楽曲の推薦へ</a>
    <a class = "logout" href = "/logout">ログアウト</a>
    <!--<a class = "user-link" href = "/recommendation/user">ユーザーページへ</a>-->
  </header>
  <div class = "container">
    {% block main %}
    {% endblock %}
  </div>
</body>
</html>
