<div class="paginator">
  {% if results.has_previous %}
  <a href="?page={{ results.previous_page_number }}{{ params }}">前へ</a> 
  {% endif %}

  {% for page in results.paginator.page_range %}
    <!-- 現在のページへはリンクを貼らない -->
    {% if page == results.number %}
    <strong>{{ page }}</strong> 
    <!-- 現在表示しているページの前後5ページへのリンクを表示 -->
    {% elif results.number|add:"-5" <= page and results.number|add:"5" >= page %}
    <a href="?page={{ page }}{{ params }}">{{ page }}</a> 
    {% endif %}
  {% endfor %}

  {% if results.has_next %}
  <a href="?page={{ results.next_page_number }}{{ params }}">次へ</a>
  {% endif %}
</div>

