$main-blue: #f0ffff;

html, body{
  margin: 0;
}

* html .clearfix{
    height: 1%;
}

body{
  .emerald{
    color: #7fffd4;
    &:hover{
      color: #66cc99;
    }
  }
  .orange{
    color: #ffc0cb;
    &:hover{
      color: #cc99cc;
    }
  }
  .orange, .emerald, .red, .light-blue, .purple{
    margin: 0 5px;
  }
  .red{
    color: #ff7f50;
    &:hover{
      color: #dc143c;
    }
  }
  .light-blue{
    color: #77eeff;
    &:hover{
      color: #00bfff;
    }
  }
  .purple{
    color: #e8d1ff;
    &:hover{
      color: #6a5acd;
    }
  }
  .login-main {
    background-image: url("../img/music_back5.png");
    background-size: cover;
    .login-content {
      height: 700px;
      padding: 20px;
      position: relative;
      .login-form{
        background-color: $main-blue;
        width: 400px;
        padding: 20px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
	      bottom: 0;
	      margin: auto;
        border-radius: 5px;
        h1{
          font-size: 25px;
          margin: 0 0 20px;
        }
        label {
          margin: 10px;
        }
        .login-submit{
          background-color: #00bfff;
          border: none;
          color: #fff;
          border-radius: 5px;
          float: right;
        }
      }
    }
  }
  background-color: $main-blue;
  header{
    background-color: #000;
    padding: 10px;
    h1{
      color: #fff;
    }
    .logout{
      float: right;
      color: #ffffe0;
      margin-right: 10px;
      &:hover{
        color: #f0e68c;
      }
    }
  }
  .clearfix{
    display:inline-table;
    display:block;
    &:after{
      content: "."; 
      display: block; 
      height: 0; 
      font-size: 0;	
      clear: both; 
      visibility: hidden;
    }
  }
  a{
    &:hover{
      text-decoration: none;
      cursor: pointer;
    }
  }
  .artist-search{
    margin: 5px 0;
  }
  .search-form{
    margin: 10px;
    border: solid 3px #0000cd;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    .search-submit{
      color: #fff;
      border-radius: 10px;
      background-color: #0000cd;
      border: none;
      &:hover{
        color: #0000cd;
        background-color: #fff;
      }
      float: right;
      margin: 10px 10px 5px;
    }
    .emotion-label {
      width: 30%;
      float: left;
    }
  }
  select{
    border: none;
    background-color: #fff;
    height: 30px;
    font-weight: bold;
    font-size: 100%;
    // position: absolute;
    // bottom: 0;
    // right: 30px;
    option{
      background-color: #fff;
      color: #00bfff;
      padding: 5px;
      border-radius: 5px;
      text-align: center;
      float: left;
      margin: 2px;
      &:hover{
        color: #fff;
        background-color: #00bfff;
      }
      &::selection{
        color: #fff !important;
        background-color: #00bfff !important;
      }
    }
  }
  .main{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    .annotation{
      color: #ff0000;
    }
    .error-msg {
      color: #ff0000;
    }
    .recommend-song-list{
      font-size: 20px;
      color: #00ff7f;
      &:hover{
        color: #32cd32;
      }
    }
    .search-result{
      font-size: 20px;
      font-weight: bold;
    }
    .content{
      margin: 10px;
      width: 450px;
      /*height: 380px;*/
      float: left;
      .emotion-feedback {
        float: left;
        text-align: center;
        .feedback-form{
          display: inline;
          .indicator{
            background-color: rgb(204, 255, 85);
            padding: 10px;
            min-height: 200px;
          }
          button {
            background-color: $main-blue;
            border: none;
            i {
              font-size: 30px;
            }
            color: #00bfff;
            &:hover {
              color: #000bff;
            }
          }
          .down-button {
            width: 50px;
            padding-right: 10px;
          }
        }
        .rerecommend-button {
          margin-top: 40px;
          background-color: $main-blue;
          border: none;
        }
      }
      .best-song-button{
        margin-top: 8px;
      }
      .like-form{
        display: inline;
        .preference-button{
          background-color: $main-blue;
          border: none;
          font-size: 18px;
          margin-left: 10px;
        }
        .like-button{
          color: #FC9DA5;
          &:hover{
            color: #EA4256;
          }
        }
        .erase-button{
          color: #52a2c5;
          &:hover{
            color: #2860a3;
          }
        }
        .next-button {
          color: #ffa500;
          &:hover {
            color: #ff8c00;
          }
        }
      }
      .song-info{
        /*float: left;*/
        margin: 5px 0 0;
      }
    }
    .min-content {
      margin: 10px;
      width: 200px;
      height: 200px;
      float: left;
      position: relative;
      .song-info {
        font-size: 12px;
      }
      input {
        margin: 0;
      }
    }
    .select-song{
      margin: 10px;
      .select-song-submit{
        float: right;
        margin-right: 100px;
        background-color: #FC9DA5;
        font-size: 20px;
      }
    }
    .refresh-form{
      margin-left: 10px;
      margin-top: 30px;
      .refresh-button{
        float: left;
        background-color: #00ff7f;
        border: none;
        border-radius: 5px;
        color: #fff;
        margin-right: 5px;
        &:hover{
          background-color: #32cd32;
        }
      }
    }
    .end-link {
      padding: 5px;
      margin-left: 10px;
      background-color: #00ff7f;
      color: #fff;
      border-radius: 5px;
      border: none;
      &:hover{
        background-color: #32cd32;
      }
    }
    .questionnaire{
      margin-top: 30px;
      background-color: #f0f8ff;
      padding: 30px;
    }
    .recommend-song {
      margin: 0 auto;
      display: inline-block;
    }
    .feedback-explanation {
      float: right;
      padding-top: 80px;
      font-size: 25px;
      width: 50%;
      ul {
        list-style: none;
        padding: 10px;
        border-radius: 10px;
      }
      .blue {
        background-color: #afeeee;
      }
    }
    input{
      margin-left: 20px;
      background-color: #00bfff;
      border-radius: 5px;
      border: none;
      color: #fff;
    }
    .artist-name{
      margin: 10px 0;
      float: left;
      width: 450px;
      font-size: 20px;
      color: #000;
      &:hover{
        color: #ffc0cb;
      }
    }
    .paginator{
      padding-bottom: 10px;
      a, strong{
        font-size: 20px;
        color: #0000cd;
        &:hover{
          color: #afeeee;
        }
      }
    }
    .search-type {
      margin: 25px 20px;
      p {
        text-align: center;
        margin: 20px 0 !important;
      }
      a {
        background-color: #fff;
        padding: 10px 5px;
        font-size: 20px;
        border-radius: 10px;
        margin: 10px 10px;
      }
    }
    .another-search {
      margin-top: 40px;
    }
    .another-search-link {
      background-color: #ff7f50;
      padding: 5px;
      color: #fff;
      border-radius: 5px;
    }
  }
  .pagination{
    float: right;
  }
  footer{
    padding: 10px;
    p{
      color: #000;
      text-align: center;
      margin: 0;
    }
  }
}
