html, body {
  margin: 0; }

* html .clearfix {
  height: 1%; }

body {
  background-color: #f0ffff; }
  body .emerald {
    color: #7fffd4; }
    body .emerald:hover {
      color: #66cc99; }
  body .orange {
    color: #ffc0cb; }
    body .orange:hover {
      color: #cc99cc; }
  body .orange, body .emerald, body .red, body .light-blue, body .purple {
    margin: 0 5px; }
  body .red {
    color: #ff7f50; }
    body .red:hover {
      color: #dc143c; }
  body .light-blue {
    color: #77eeff; }
    body .light-blue:hover {
      color: #00bfff; }
  body .purple {
    color: #e8d1ff; }
    body .purple:hover {
      color: #6a5acd; }
  body .login-main {
    background-image: url("../img/music_back5.png");
    background-size: cover; }
    body .login-main .login-content {
      height: 700px;
      padding: 20px;
      position: relative; }
      body .login-main .login-content .login-form {
        background-color: #f0ffff;
        width: 400px;
        padding: 20px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 5px; }
        body .login-main .login-content .login-form h1 {
          font-size: 25px;
          margin: 0 0 20px; }
        body .login-main .login-content .login-form label {
          margin: 10px; }
        body .login-main .login-content .login-form .login-submit {
          background-color: #00bfff;
          border: none;
          color: #fff;
          border-radius: 5px;
          float: right; }
  body header {
    background-color: #000;
    padding: 10px; }
    body header h1 {
      color: #fff; }
    body header .logout {
      float: right;
      color: #ffffe0;
      margin-right: 10px; }
      body header .logout:hover {
        color: #f0e68c; }
  body .clearfix {
    display: inline-table;
    display: block; }
    body .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      font-size: 0;
      clear: both;
      visibility: hidden; }
  body a:hover {
    text-decoration: none;
    cursor: pointer; }
  body .artist-search {
    margin: 5px 0; }
  body .search-form {
    margin: 10px;
    border: solid 3px #0000cd;
    display: inline-block;
    padding: 5px;
    border-radius: 10px; }
    body .search-form .search-submit {
      color: #fff;
      border-radius: 10px;
      background-color: #0000cd;
      border: none;
      float: right;
      margin: 10px 10px 5px; }
      body .search-form .search-submit:hover {
        color: #0000cd;
        background-color: #fff; }
    body .search-form .emotion-label {
      width: 30%;
      float: left; }
  body select {
    border: none;
    background-color: #fff;
    height: 30px;
    font-weight: bold;
    font-size: 100%; }
    body select option {
      background-color: #fff;
      color: #00bfff;
      padding: 5px;
      border-radius: 5px;
      text-align: center;
      float: left;
      margin: 2px; }
      body select option:hover {
        color: #fff;
        background-color: #00bfff; }
      body select option::selection {
        color: #fff !important;
        background-color: #00bfff !important; }
  body .main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; }
    body .main .annotation {
      color: #ff0000; }
    body .main .error-msg {
      color: #ff0000; }
    body .main .recommend-song-list {
      font-size: 20px;
      color: #00ff7f; }
      body .main .recommend-song-list:hover {
        color: #32cd32; }
    body .main .search-result {
      font-size: 20px;
      font-weight: bold; }
    body .main .content {
      margin: 10px;
      width: 450px;
      /*height: 380px;*/
      float: left; }
      body .main .content .emotion-feedback {
        float: left;
        text-align: center; }
        body .main .content .emotion-feedback .feedback-form {
          display: inline; }
          body .main .content .emotion-feedback .feedback-form .indicator {
            background-color: #ccff55;
            padding: 10px;
            min-height: 200px; }
          body .main .content .emotion-feedback .feedback-form button {
            background-color: #f0ffff;
            border: none;
            color: #00bfff; }
            body .main .content .emotion-feedback .feedback-form button i {
              font-size: 30px; }
            body .main .content .emotion-feedback .feedback-form button:hover {
              color: #000bff; }
          body .main .content .emotion-feedback .feedback-form .down-button {
            width: 50px;
            padding-right: 10px; }
        body .main .content .emotion-feedback .rerecommend-button {
          margin-top: 40px;
          background-color: #f0ffff;
          border: none; }
      body .main .content .best-song-button {
        margin-top: 8px; }
      body .main .content .like-form {
        display: inline; }
        body .main .content .like-form .preference-button {
          background-color: #f0ffff;
          border: none;
          font-size: 18px;
          margin-left: 10px; }
        body .main .content .like-form .like-button {
          color: #FC9DA5; }
          body .main .content .like-form .like-button:hover {
            color: #EA4256; }
        body .main .content .like-form .erase-button {
          color: #52a2c5; }
          body .main .content .like-form .erase-button:hover {
            color: #2860a3; }
        body .main .content .like-form .next-button {
          color: #ffa500; }
          body .main .content .like-form .next-button:hover {
            color: #ff8c00; }
      body .main .content .song-info {
        /*float: left;*/
        margin: 5px 0 0; }
    body .main .min-content {
      margin: 10px;
      width: 200px;
      height: 200px;
      float: left;
      position: relative; }
      body .main .min-content .song-info {
        font-size: 12px; }
      body .main .min-content input {
        margin: 0; }
    body .main .select-song {
      margin: 10px; }
      body .main .select-song .select-song-submit {
        float: right;
        margin-right: 100px;
        background-color: #FC9DA5;
        font-size: 20px; }
    body .main .refresh-form {
      margin-left: 10px;
      margin-top: 30px; }
      body .main .refresh-form .refresh-button {
        float: left;
        background-color: #00ff7f;
        border: none;
        border-radius: 5px;
        color: #fff;
        margin-right: 5px; }
        body .main .refresh-form .refresh-button:hover {
          background-color: #32cd32; }
    body .main .end-link {
      margin-left: 10px;
      background-color: #00ff7f;
      color: #fff;
      border-radius: 5px;
      border: none; }
      body .main .end-link:hover {
        background-color: #32cd32; }
    body .main .questionnaire {
      margin-top: 30px;
      background-color: #f0f8ff;
      padding: 30px; }
    body .main .recommend-song {
      margin: 0 auto;
      display: inline-block; }
    body .main .feedback-explanation {
      float: right;
      padding-top: 80px;
      font-size: 25px;
      width: 50%; }
      body .main .feedback-explanation ul {
        list-style: none;
        padding: 10px;
        border-radius: 10px; }
      body .main .feedback-explanation .blue {
        background-color: #afeeee;
        width: 50%; }
    body .main input {
      margin-left: 20px;
      background-color: #00bfff;
      border-radius: 5px;
      border: none;
      color: #fff; }
    body .main .artist-name {
      margin: 10px 0;
      float: left;
      width: 450px;
      font-size: 20px;
      color: #000; }
      body .main .artist-name:hover {
        color: #ffc0cb; }
    body .main .paginator {
      padding-bottom: 10px; }
      body .main .paginator a, body .main .paginator strong {
        font-size: 20px;
        color: #0000cd; }
        body .main .paginator a:hover, body .main .paginator strong:hover {
          color: #afeeee; }
    body .main .search-type {
      margin: 25px 20px; }
      body .main .search-type p {
        text-align: center;
        margin: 20px 0 !important; }
      body .main .search-type a {
        background-color: #fff;
        padding: 10px 5px;
        font-size: 20px;
        border-radius: 10px;
        margin: 10px 10px; }
    body .main .another-search {
      margin-top: 40px; }
    body .main .another-search-link {
      background-color: #ff7f50;
      padding: 5px;
      color: #fff;
      border-radius: 5px; }
  body .pagination {
    float: right; }
  body footer {
    padding: 10px; }
    body footer p {
      color: #000;
      text-align: center;
      margin: 0; }

/*# sourceMappingURL=../../../../../../../../static/sass/main.css.map */