{% extends 'bases/emotion_base.html' %}

{% block title %}印象語検索システム{% endblock title %}

{% block main %}
<h2>印象語による楽曲検索システムへようこそ</h2>
<div class = "main">
  <h3>検索方法を以下の二つから選んでください</h3>
  <div class = "search-type">
    <a class = "emerald" href = "/recommendation/relevant_feedback_single/">適合性フィードバックによる検索システム(1曲)</a>
  <!--</div>
    <div class = "search-type">-->
    <a class = "red" href = "/recommendation/emotion_feedback_single/">印象語フィードバックによる検索システム(1曲)</a>
  </div>
</div>
{% endblock main %}
