{% extends 'bases/emotion_base.html' %}

{% block title %}印象語フィードバック{% endblock title %}

{% block main %}
<h2>印象語フィードバックによる楽曲検索システムへようこそ</h2>
<div class = "main">
  {% if error_msg %}
    <h3 class = "error-msg">{{ error_msg }}</h3>
  {% endif %}
  <h2>{{ search_situation }}に聴く楽曲の検索結果</h2>
  <h3>{{ listening_count|add:"1" }}曲目の視聴</h3>
  <div class = "clearfix">
    {% for song in songs %}
      <div class = "content">
        {% include "parts/_song_iframe.html" %}
        {% include "parts/_emotion_feedback.html" %}
      </div>
    {% endfor %}
  </div>
  <div class = "another-search">
    <a class = "another-search-link" href = "/recommendation/relevant_feedback_single/">適合性フィードバック検索へ</a>
  </div>
  {% if is_back_song %}
    {% include "parts/_back_button.html" %}
  {% endif %}
  {% include "parts/_refresh_search_button.html" %}
</div>
{% endblock main %}
